{% extends 'base.html' %}
{% block content %}

{% load static %}



<h2 class="logo" style="display:none;">
{% block header_title %}
<a href="#" onclick="history.back(); return false;">
  {% if request.user == profile_user %}
    Mon Profil
  {% else %}
    {{ profile_user.username }}
  {% endif %}
</a>


{% endblock %}    

{% block deconnexion %}{% if request.user == profile_user %}
<a href="{% url 'logout' %}" class="btn">Paramètre</a>
   {% endif %} {% endblock %}    

</h2>


<!-- CSS spécifique à la page -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="profile-actions" style="text-align:center; margin-top:1rem;">
    
        <style>
    #hero-header{
        display: none;
    }
    
    body{
    
    padding: 3rem 1rem;
    
  }
</style>
   
    

<header id="hero-header-user-profil" style="background : none;">
    
  {% include 'partials/hero-header.html' with is_own_profile=True %}
</header>


{% include 'partials/action_buttons.html' with profile_mode=True %}

<!-- GALERIE DE PHOTOS -->
<div id="feed-container" class="photo-gallery" data-initial-offset="{{ photos|length }}">
    {% for photo in photos %}
        {% with photo.blog_set.all|first as related_blog %}

        {% include "partials/photo_card_header.html" with photo=photo %}
        {% include "partials/publications_action.html" with photo=photo related_blog=related_blog photo_likes=photo_likes %}

</div>
            </div>
        </div>
        {% endwith %}
    {% empty %}
    
    <p class="no-photos-msg">
     {% if not user == profile_user %}   {{ profile_user.username }} n'a publié aucune photo pour le moment.{% else %} Vous n'avez mis en ligne aucune publication pour le moment.
     {% endif %}
     </p>
        
        
    {% endfor %}
</div>

{% include 'partials/feed_loader.html' %}

<!-- JS pour likes AJAX -->
<script src="{% static 'js/home.js' %}" defer></script>

{% endblock content %}