{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="text-align:center; margin-top: 20px;">
    <a href="{% url 'home' %}" class="btn-deconnexion">Accueil</a>
    
    {% if user == blog.author %}
        <!-- Bouton modifier/supprimer visible seulement par l’auteur -->
        <a href="{% url 'edit_blog' blog.id %}" class="btn-edit">Editer</a>
    {% endif %}
</div>

<style>
body {
    padding: 0rem;
}
</style>

<div class="login-card" role="main">
    <h1>{{ blog.title }}</h1>

    {% if request.user.username == blog.author.username %}
        <p class="lead">Écrit par vous</p>
    {% else %}
        <p class="lead">Écrit par : {{ blog.author.username }}</p>
    {% endif %} 

{% if blog.photo %}
<div class="blog-photo" data-photo-id="{{ blog.photo.id }}">
    <img src="{{ blog.photo.image.url }}" alt="Photo associée" />

    <!-- Inclure le partial pour actions (likes, commentaires, partages) -->
    {% include "partials/publications_action.html" with photo=blog.photo related_blog=blog.photo.related_blog photo_likes=photo_likes %}
</div>
{% endif %}

    <div class="blog-content">
        <p>{{ blog.content|linebreaks }}</p>
    </div>
</div>


<audio id="likeSound" src="{% static 'audio/audiocutter_facebook-like-sound-effect2.mp3' %}" preload="auto" style="display:none;"></audio>
<!-- JS spécifique à la page -->
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock content %}